@font-face {
    font-family: "MAROCCAN WOLF";
    src: url("../fonts/MAROCCAN WOLF.ttf");
}

.robot-text {
    font-family: 'MAROCCAN WOLF', 'Lucida Console';
    color: red;
}

a:hover {
    color: OrangeRed;
}

.robot-logo {
    font-family: 'MAROCCAN WOLF', 'Lucida Console';
    color: red;
    font-size: 25px;
}

.robot-excerpt {
    font-size: 12px;
}

.robot-card {
    height: 125px;
}

.robot-hr {
    width: 25%;
    border-top: 3px solid red;
}

.robot-btn {
    color: white;
    background-color: red;
}
